html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  scroll-behavior: smooth;
  user-select: none;
}

body {
  max-width: 1920px;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  margin: 0 auto;
}

h2 {
  text-transform: uppercase;
}

p {
  text-align: justify;
}

input, textarea {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  border: none;
  border-left: 5px solid #000;
  border-bottom: 5px solid #000;
  padding-left: 20px;
  width: 590px;
  height: 36px;
  outline: none;
}

button {
  font-family: "Montserrat", sans-serif;
}

strong {
  font-weight: bold;
}

a {
  color: #000;
}

.flex-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  max-width: 1730px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.container-fluid {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.blackText {
  color: #000;
}

.whiteText {
  color: #fff;
}

.active {
  border-bottom: 3px solid white;
}

.social-logo {
  width: 40px;
  height: 40px;
}

.heading {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.18538em;
  padding-bottom: 30px;
}

.desc {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 26px;
}

.btn-dark {
  text-transform: uppercase;
  background-color: inherit;
  padding: 12px 32px;
  display: inline-flex;
  align-items: center;
  border: none;
  border-left: 3px solid #FFF;
  border-right: 3px solid #FFF;
  outline: none;
}
.btn-dark a {
  color: #FFF;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
}

.btn-light {
  text-transform: uppercase;
  background-color: inherit;
  padding: 12px 32px;
  display: inline-flex;
  align-items: center;
  border: none;
  border-left: 3px solid #000000;
  border-right: 3px solid #000000;
  outline: none;
}
.btn-light a {
  color: #000;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
}

.btn-light__bigger {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background-color: inherit;
  padding: 12px 32px;
  display: inline-flex;
  align-items: center;
  border: none;
  border-left: 3px solid #000000;
  border-right: 3px solid #000000;
  outline: none;
  font-weight: 700;
}
.btn-light__bigger a {
  color: #000;
  font-style: normal;
  font-size: 17px;
}

.menu-open,
.menu-open-responsive {
  z-index: 2;
  top: 20px;
  left: 20px;
  background: #000;
  border-radius: 100rem;
  -webkit-border-radius: 100rem;
  -moz-border-radius: 100rem;
  -ms-border-radius: 100rem;
  -o-border-radius: 100rem;
  border: 2px solid #FFF;
}

.menu-open {
  background: #FFF;
  border: 2px solid #000;
}

.normal-bold {
  text-transform: none;
  font-weight: bold;
}

.is-active {
  display: block;
  transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  -o-transform: translateX(0) !important;
}

:hover {
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
}

.activeborder {
  border: 1px solid #000;
}

@media screen and (max-width: 270px) {
  .heading h2 {
    border: none !important;
    border-bottom: 2px solid #000 !important;
    font-size: 20px !important;
    min-width: auto !important;
    padding: 0 !important;
  }

  h3 {
    padding-bottom: 0 !important;
    font-size: 20px !important;
    font-weight: 400 !important;
  }
}
/* custom scrollbar */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 4px solid transparent;
  background-clip: content-box;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.blackText {
  color: #000000 !important;
}

.hero {
  background-color: #D7D7D7;
  overflow: hidden;
  height: 900px;
  position: relative;
  padding: 50px;
}
.hero .container-fluid .menu-open, .hero .container-fluid .menu-open-responsive {
  position: fixed;
  top: 40px;
  left: 40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 200ms;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
  opacity: 0.5;
  display: none;
}
.hero .container-fluid .menu-open:hover, .hero .container-fluid .menu-open-responsive:hover {
  opacity: 1;
}
.hero .container-fluid .menu-open-responsive, .hero .container-fluid .menu-open-responsive-responsive {
  opacity: 1;
}
.hero .container-fluid .menu-open-responsive {
  display: none;
}
.hero-rectangle {
  width: 1802.3px;
  height: 1373.99px;
  background: #000000;
  position: absolute;
  top: -16px;
  bottom: 0;
  left: 45%;
  transform: rotate(9deg);
  -webkit-transform: rotate(9deg);
  -moz-transform: rotate(9deg);
  -ms-transform: rotate(9deg);
  -o-transform: rotate(9deg);
}
.hero ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
}
.hero ul li:last-child {
  margin-left: 25px;
}
.hero ul li a {
  width: 147px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 17px;
  font-weight: 700;
  line-height: 21px;
}
.hero ul li a:hover {
  opacity: 0.75;
}
.hero ul li:last-child a {
  background: #FFFFFF;
  border: 4px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 30px;
}
.hero-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 30%;
}
.hero-content__text {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
}
.hero-content__text-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  margin-bottom: 40px;
}
.hero-content__text-name {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 94px;
  text-align: center;
}
.hero-content__text-job {
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 29px;
  text-align: left;
  color: #919191;
  margin-bottom: 80px;
}
.hero-content-social {
  display: flex;
  flex-direction: row;
  gap: 0 50px;
}
.hero-content-social__github:hover, .hero-content-social__facebook:hover, .hero-content-social__linkedin:hover {
  opacity: 0.65;
  transform: translateY(-10%);
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
}
.hero-content-social-responsive {
  display: none;
}
.hero-content__img {
  position: absolute;
  width: 35%;
  height: 90%;
  bottom: 0;
  right: 0;
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
}
.hero-content__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.social-responsive {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
}

@media screen and (max-width: 1390px) {
  .hero {
    height: 650px;
  }
  .hero-content__text-heading {
    font-size: 35px;
  }
  .hero-content__text-name {
    font-size: 55px;
  }
}
@media screen and (max-width: 1234px) {
  .hero ul {
    left: 55%;
  }
  .hero ul li a {
    width: 130px;
  }
}
@media screen and (max-width: 1220px) {
  .hero-rectangle {
    left: 50%;
  }

  .hero .container-fluid .menu-open {
    display: block;
  }

  .hero ul .heroItem {
    display: none;
  }

  .hero-content__text-heading {
    font-size: 30px;
  }
  .hero-content__text-name {
    font-size: 50px;
  }
  .hero-content__img {
    width: 40%;
    height: 100%;
  }
}
@media screen and (max-width: 1010px) {
  .hero-content__text-heading {
    font-size: 25px;
  }
  .hero-content__text-name {
    font-size: 45px;
  }
  .hero-content__img {
    height: 80%;
  }
}
@media screen and (max-width: 900px) {
  .hero {
    padding: 20px;
    background-color: #000;
  }
  .hero .container-fluid .menu-open {
    display: none;
  }
  .hero .container-fluid .menu-open-responsive {
    display: block;
  }
  .hero-rectangle {
    top: 90%;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.56);
    transform: rotate(95deg) translate(75px, 40%);
    -webkit-transform: rotate(95deg) translate(75px, 40%);
    -moz-transform: rotate(95deg) translate(75px, 40%);
    -ms-transform: rotate(95deg) translate(75px, 40%);
    -o-transform: rotate(95deg) translate(75px, 40%);
  }
  .hero-content {
    top: auto;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3;
  }
  .hero-content__text-heading, .hero-content__text-job, .hero-content__text-name {
    margin: 0;
    color: #FFFFFF;
  }
  .hero-content__img {
    height: 90%;
    width: auto;
    transform: translate(-35%, 15px);
    -webkit-transform: translate(-35%, 15px);
    -moz-transform: translate(-35%, 15px);
    -ms-transform: translate(-35%, 15px);
    -o-transform: translate(-35%, 15px);
  }
  .hero-content-social .social-logo {
    display: none;
    width: 40px;
    height: 40px;
  }

  .social-responsive {
    display: block;
    z-index: 3;
  }
  .social-responsive a {
    display: block;
  }
  .social-responsive a:not(:last-child) {
    margin-bottom: 30px;
  }
  .social-responsive .social-logo {
    width: 40px;
    height: 40px;
  }
  .social-responsive .social-logo:hover, .social-responsive .social-logo:active, .social-responsive .social-logo:focus {
    opacity: 0.65;
  }
}
@media screen and (max-width: 768px) {
  .hero-content__img {
    transform: translate(0, 20px);
    -webkit-transform: translate(0, 20px);
    -moz-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    -o-transform: translate(0, 20px);
  }
}
@media screen and (max-width: 700px) {
  .hero-rectangle {
    transform: rotate(95deg) translate(140px, 40%);
    -webkit-transform: rotate(95deg) translate(140px, 40%);
    -moz-transform: rotate(95deg) translate(140px, 40%);
    -ms-transform: rotate(95deg) translate(140px, 40%);
    -o-transform: rotate(95deg) translate(140px, 40%);
  }

  .social-responsive {
    top: 0;
    right: 0;
    left: auto;
  }
}
@media screen and (max-width: 470px) {
  .hero-content__text-heading {
    font-size: 30px;
  }
  .hero-content__text-name {
    font-size: 40px;
  }
  .hero-content__text-job {
    font-size: 20px;
  }
}
@media screen and (max-width: 420px) {
  .hero-content__text-heading {
    font-size: 25px;
  }
  .hero-content__text-name {
    font-size: 35px;
  }
  .hero-content__text-job {
    font-size: 15px;
  }
}
@media screen and (max-width: 372px) {
  .hero-content__text-heading {
    font-size: 20px;
  }
  .hero-content__text-name {
    font-size: 30px;
  }
  .hero-content__text-job {
    font-size: 15px;
  }
  .hero-content__img {
    height: 70%;
  }
}
@media screen and (max-width: 324px) {
  .hero-content__text-heading {
    font-size: 17px;
  }
  .hero-content__text-name {
    font-size: 25px;
  }
  .hero-content__text-job {
    font-size: 15px;
  }
  .hero-content__text__img {
    height: 70%;
  }
}
@media screen and (max-width: 278px) {
  .hero-content__text-heading {
    font-size: 15px;
  }
  .hero-content__text-name {
    font-size: 20px;
  }
  .hero-content__text-job {
    font-size: 15px;
  }
  .hero-content__text__img {
    height: 50%;
  }
}
.summary {
  background-color: #1d1d1d;
}
.summary-content {
  padding: 54px 25% 50px 102px;
  color: #FFFFFF;
}
.summary-content-desc {
  text-align: justify;
}
.summary-content-btn {
  height: 32px;
  position: relative;
}
.summary-content-btn a::before {
  content: "Download my resume";
  position: relative;
  z-index: 2;
}
.summary-content-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: #CF649A;
  z-index: 1;
  transition: width 2s linear;
  -webkit-transition: width 2s linear;
  -moz-transition: width 2s linear;
  -ms-transition: width 2s linear;
  -o-transition: width 2s linear;
}
.summary-content-btn:hover::after {
  width: 100%;
}
.summary-content-btn:hover {
  border: 1px solid #CF649A;
}

@media screen and (max-width: 846px) {
  .summary-content {
    padding-right: 102px;
  }
  .summary-content-btn {
    display: block;
    margin: 0 auto;
    line-height: 0;
  }
  .summary-content-btn a::before {
    content: "my resume";
  }
  .summary-content-heading {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .summary-content {
    padding: 50px;
  }
}
@media screen and (max-width: 600px) {
  .summary-content {
    padding: 50px 30px;
  }
}
@media screen and (max-width: 410px) {
  .summary-content {
    padding: 50px 10px;
  }
  .summary-content-desc {
    font-size: 15px;
  }
}
.about {
  background: radial-gradient(50% 50% at 50% 50%, rgba(26, 21, 21, 0) 0%, rgba(1, 1, 1, 0.16) 100%), #FFFFFF;
  mix-blend-mode: normal;
  padding: 100px 25%;
}
.about-top-container {
  align-self: center;
  text-align: center;
}
.about-top-container .about-btn:hover {
  opacity: 0.6;
}
.about-heading {
  text-align: center;
}
.about-heading h2 {
  border: 8px solid #000000;
  min-width: 404px;
  margin: 0 auto;
  padding: 20px 0;
}
.about-top-separator {
  margin-top: 80px;
}
.about-bottom {
  padding-top: 100px;
}
.about-bottom-container {
  align-self: center;
}
.about-bottom-container h3 {
  text-transform: uppercase;
  margin: 45px 0;
}
.about-bottom-container h3::after {
  content: ":";
}
.about-bottom-container ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 60px 100px;
  text-align: center;
}
.about-bottom-container ul li {
  display: inline;
}
.about-bottom-container ul li p {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.13538em;
  color: #000000;
  margin-top: 17px;
}
.about-bottom-container:last-child li img {
  height: 100px;
}

@media screen and (max-width: 950px) {
  .about {
    padding: 100px 15%;
  }

  .about-bottom-container {
    width: 100%;
  }
  .about-bottom-container ul {
    grid-template-columns: unset;
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
  }
  .about-bottom-container ul li {
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}
@media screen and (max-width: 768px) {
  .about {
    padding: 50px 10%;
  }
  .about-bottom {
    padding-top: 50px;
  }
}
@media screen and (max-width: 414px) {
  .about {
    padding: 60px 5%;
  }

  .about-heading h2 {
    min-width: 270px;
  }

  .about-bottom-container h3 {
    text-align: center;
  }
  .about-bottom-container h3::after {
    display: none;
  }
}
.portfolio {
  background-color: #1A1A1A;
}
.portfolio-header {
  background-image: url("../images/portfolio/portfolio.png");
  background-size: contain;
  height: 370px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.portfolio-header-heading {
  position: absolute;
  top: 107px;
  right: 0;
  left: 0;
  text-align: center;
}
.portfolio-header-heading h2 {
  letter-spacing: 0.43538em;
  max-width: 482px;
}
.portfolio-category ul {
  display: flex;
  justify-content: center;
  gap: 0 50px;
  margin: 32px auto;
}
.portfolio-category ul li {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFFBFB;
  padding: 20px 60px;
  display: inline-block;
  cursor: pointer;
}
.portfolio-category ul li:hover {
  opacity: 0.65;
}
.portfolio-category ul li > box-icon {
  display: none;
}
.portfolio-category ul li:first-child::before {
  content: "all";
}
.portfolio-category ul li:nth-child(2):before {
  content: "coding";
}
.portfolio-category ul li:last-child::before {
  content: "activities";
}
.portfolio-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.portfolio-footer-img {
  height: 100%;
  width: 100%;
}
.portfolio-footer-img img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .portfolio-footer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 670px) {
  .portfolio-category ul {
    display: block;
    padding: 0 30px;
    text-align: center;
  }
  .portfolio-category ul a {
    display: inline-block;
    padding: 20px 30px;
    width: 160px;
  }
  .portfolio-footer {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 595px) {
  .portfolio-category ul {
    padding: 0 15px;
  }
}
@media screen and (max-width: 564px) {
  .portfolio-header-heading h2 {
    max-width: 350px;
  }

  .portfolio-category ul li:first-child::before, .portfolio-category ul li:nth-child(2)::before, .portfolio-category ul li:last-child::before {
    display: none;
  }
  .portfolio-category ul li > box-icon {
    display: block;
  }
}
@media screen and (max-width: 470px) {
  .portfolio-category ul {
    display: flex;
    gap: 0;
    overflow: hidden;
  }
}
@media screen and (max-width: 375px) {
  .portfolio-header-heading h2 {
    font-size: 25px;
  }
}
@media screen and (max-width: 350px) {
  .portfolio-header-heading h2 {
    max-width: 300px;
    font-size: 25px;
  }

  .portfolio-category ul li {
    padding: 20px 40px;
  }
}
@media screen and (max-width: 300px) {
  .portfolio-category ul {
    display: inline-block;
  }
  .portfolio-category ul li {
    padding: 20px 60px;
  }
}
.contact {
  padding: 100px 25% 48px;
}
.contact-top-desc {
  margin: 30px auto;
}
.contact-bottom {
  padding-top: 122px;
}
.contact-bottom form .contact-bottom__name {
  text-transform: capitalize;
}
.contact-bottom form input, .contact-bottom form textarea {
  margin-bottom: 60px;
  resize: vertical;
  box-sizing: border-box;
  background: none;
}
.contact-bottom form input::placeholder {
  text-transform: uppercase;
  color: #000;
  word-break: break-all;
}
.contact-bottom form button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.contact-bottom form input[class~=small] {
  display: none;
}

@media screen and (max-width: 768px) {
  .contact {
    padding: 50px 10%;
  }
}
@media screen and (max-width: 630px) {
  .contact-bottom form input, .contact-bottom form textarea {
    width: 90%;
  }
  .contact-bottom form input[class~=large] {
    display: none;
  }
  .contact-bottom form input[class~=small] {
    display: block;
  }
}
@media screen and (max-width: 414px) {
  .contact {
    padding: 60px 5%;
  }
}
.footer {
  background-color: #1A1A1A;
  color: #FFF;
  padding: 69px 25%;
}
.footer-heading {
  text-align: center;
}
.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .container a:hover {
  opacity: 0.6;
  transform: translateY(-10%);
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
}
.footer .container img {
  margin-bottom: 7px;
}
.footer .container ul {
  display: flex;
  align-items: center;
  gap: 0 28px;
  color: #FFF;
  margin-top: 15px;
}
.footer .container p {
  margin-top: 45px;
  text-align: center;
  line-height: 1.6;
}

@media screen and (max-width: 650px) {
  .footer {
    padding: 69px 0;
  }
}
.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 470px;
  height: auto;
  padding: 100px 50px 0 50px;
  background-color: #FFF;
  box-shadow: 0 0 16px #000;
  z-index: 999;
  will-change: transform;
  transition: transform 0.2s linear;
  -webkit-transition: transform 0.2s linear;
  -moz-transition: transform 0.2s linear;
  -ms-transition: transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transform: translateX(-105%);
  -webkit-transform: translateX(-105%);
  -moz-transform: translateX(-105%);
  -ms-transform: translateX(-105%);
  -o-transform: translateX(-105%);
}
.menu-item {
  text-transform: capitalize;
  line-height: 1.6;
}
.menu-close, .menu-close-responsive {
  position: absolute;
  top: 50px;
  right: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 200ms;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
  opacity: 0.45;
}
.menu-close:hover, .menu-close-responsive:hover {
  opacity: 1;
}
.menu-close-close-responsive, .menu-close-responsive-close-responsive {
  display: none;
}
.menu-container ul {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.menu-container ul a {
  display: block;
  padding: 20px;
  transition: 200ms;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.menu-container ul a:hover, .menu-container ul a:focus, .menu-container ul a:active {
  background-color: #000;
  color: #FFFFFF;
  font-weight: 700;
}

@media screen and (max-width: 900px) {
  .menu {
    width: 100%;
    background-color: #000;
    text-align: center;
  }
  .menu-item {
    color: #FFF;
    font-size: 30px;
  }
  .menu-close {
    display: none;
  }
  .menu-close-responsive {
    display: block;
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
